:root {
  --tab-height: 28px;
  --tab-font-size: 1em;
  --buttons-width: 116px;
  --menubar-height: 10px;
  --window-drag-space: 40px;
  --window-control-width: 138px;
  --tab-background-image: -moz-element(#urlbar-input);
  --shadow-effect: 0 15px 25px rgba(0, 0, 0, .25), 0 0 0 .5px rgba(0, 0, 0, .15);
}

/* Set the hight of the individual buttons to match the tab height */
.titlebar-button {height: var(--tab-height) !important;}

/* Apply tabs margins, height and font size */
.tabbrowser-tab {
  min-height: 0 !important;
  align-items: center !important;
  margin-inline-end: 0 !important;
  height: var(--tab-height) !important;
  font-size: var(--tab-font-size) !important;
}

/* Max tab width for not pinned tabs */
.tabbrowser-tab[fadein]:not([pinned]){max-width:-moz-available!important}

/* When only one tab: Window title in bold & close tab button is hidden */
.tabbrowser-tab:only-of-type .tab-text{font-weight:bolder!important;}
.tabbrowser-tab:only-of-type .tab-close-button,.tabbrowser-tab:only-of-type .browser-titlebar{display:none;pointer-events:none;}

/* Hide specific UI elements */
#new-tab-button,#alltabs-button,#titlebar spacer,#star-button-box,#reader-mode-button,#translations-button,#reader-mode-button-icon{display:none!important}

/* Mouse-over button styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{background-color:var(--toolbarbutton-hover-background);}

/* Makes the active tab interactive */
.tabbrowser-tab:not([pinned])[selected]{pointer-events:none;}

/* Buttons on the tab bar, the tabs themselves and the tab close buttons are interactive  */
.tabbrowser-tab,.tab-close-button,#TabsToolbar toolbaritem,#TabsToolbar toolbarbutton{pointer-events:auto;}

/* Disables pointer interactions in this area, but allows it to be shown visually */
:root:not([customizing]) #TabsToolbar-customization-target {
  z-index: 1;
  position: relative;
  pointer-events: none;
}

/* When tabs are integrated in the title bar (tabsintitlebar), the title bar is completely visible (opaque) */
:root[tabsintitlebar] .browser-titlebar,
#titlebar {
  opacity: 1 !important;
  transition: none !important;
  will-change: unset !important;
}

/* Concise urlbar: Hide more elements.  */
#urlbar .search-one-offs:not([hidden]){display:none!important;user-select:none!important;}

/* Hide urlbar icon elements like "Switch tab", bookmarks and reader */
.urlbar-input-container>:not(.urlbar-input-box){z-index:-32!important;}

#urlbar{z-index:auto!important;}
.urlbar-input-box{z-index:-32!important;margin-left:-999px!important;}
#alltabs-button,#PanelUI-button,#unified-extensions-button{z-index:1;position:relative;}

/* Create the dimensions to be able to use the address bar from the tabs. */
#urlbar-background {
  height: calc(var(--tab-height) * 1.35) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;

  /* Use it to visualize how accurately it behaves. */
  /* background-color: fuchsia !important; */
}

/* Allows the address bar to be displayed when the active tab is clicked. Very precise. */
#urlbar-container {
  display: flex !important;
  /* Margin-right need use some quick maths */
  margin-right: 168px !important;
  justify-content: center !important;
}

/* When the address bar container has the focus */
#urlbar-container:focus-within{position:static!important;margin-left:var(--window-control-width)!important;}

/* Enable the blur effect */
#main-window:not([inDOMFullscreen]){#browser{clip-path:circle(100%);}}

/* Size and appearance of the address bar when it is active */
.urlbarView {
  left: 50%;
  z-index: 2;
  pointer-events: auto;
  transform: translateX(-50%) !important;
  background: var(--toolbar-field-focus-background-color);
  border: 1px solid var(--toolbar-field-focus-border-color) !important;

/* Makes the dropdown transparent and applies a blurring effect */
  background-color: light-dark(rgba(255, 255, 255, .55), rgba(25, 25, 25, .65)) !important;
  backdrop-filter: blur(30px) !important;
  box-shadow: var(--shadow-effect) !important;
}

/* When the address bar is active (in focus), expands to full width */
#urlbar-container:focus-within .urlbarView{left:0!important;transform:none!important;}

#remote-control-box,#urlbar-search-button{display:none;}
#tracking-protection-icon-container,#identity-box{display:none!important;}

/* Overwrite the original title with the url when clicking on the active tab. */
#navigator-toolbox:focus-within .tabbrowser-tab[selected] .tab-content{opacity:0!important;}

/* Displays the URL in the tab when typing in it */
.tabbrowser-tab[selected],
#navigator-toolbox:focus-within .tab-background[selected] {
  background-size: auto !important;
  background-image: var(--tab-background-image) !important;
  background-color: var(--toolbar-field-focus-background-color) !important;
  background-position: calc(var(--tab-inline-padding, 4px) + 6px) 3px !important;
}

/* Margin and visibility settings for customisation */
:root:not([customizing]) #navigator-toolbox>#TabsToolbar,
:root:not([customizing]) #titlebar {
  margin-bottom: calc(0px - var(--tab-min-height) - 2 * var(--tab-block-margin));
}

/* Define the visibility of the elements during customisation */
:root:not([customizing]) #nav-bar-customization-target>:not(#urlbar-container){visibility:collapse;}

/* Replace the application menu icon `#PanelUI-menu-button` with
the private browsing icon when you are in private browsing mode. */
.private-browsing-indicator,#private-browsing-indicator-with-label{display:none;}
:root[privatebrowsingmode="temporary"] #PanelUI-menu-button{list-style-image:url("chrome://global/skin/icons/indicator-private-browsing.svg")!important;}

/* Create a space to the left of the #TabsToolbar to make the correct space for the buttons. */
:root:is([sizemode="normal"]) {
  --button-width: 20px;
  --button-spacing: 4px;
  --buttons-count: 3;

  #TabsToolbar>.toolbar-items {
    margin-left: calc(var(--button-width) * var(--buttons-count) + var(--button-spacing) * (var(--buttons-count) - 1)) !important;
  }
}

:root:is([sizemode="maximized"], [sizemode="fullscreen"]) {
  --button-width: 32px;
  --button-spacing: 6px;
  --buttons-count: 3;

  #TabsToolbar>.toolbar-items {
    margin-left: calc(var(--button-width) * var(--buttons-count) + var(--button-spacing) * (var(--buttons-count) - 1)) !important;
  }
}

#nav-bar {
  box-shadow: none !important;
  background-color: transparent !important;
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin));
}

:root[tabsintitlebar] #titlebar:has(>[autohide="false"])+#nav-bar{border-inline-width:0!important;}

/* Buttons Tweaks */
#PanelUI-button,
#downloads-button,
#tabs-newtab-button,
#unified-extensions-button {
  align-self: center !important;
  visibility: visible !important;
  padding-top: calc(var(--tab-height) * .6) !important;
}

#firefox-view-button {
  padding: 0 !important;
  clip-path: circle(50%);
  align-self: center !important;
  height: calc(var(--tab-height) * 0.5) !important;
}

/* Hides the Overflow-button without breaking anything  */
#nav-bar-overflow-button{visibility:hidden!important;}
#PanelUI-button{order:-1;width:calc(var(--tab-height) * 1.2)!important;}
#downloads-button,#unified-extensions-button{order:-2;display:flex!important;}
#tabs-newtab-button{padding:0!important;height:calc(var(--tab-height) * .8)!important;}

/* Privacy blur */
#appMenu-popup #appMenu-fxa-label2:hover #appMenu-header-description{filter:blur(0)!important;}
#appMenu-popup #appMenu-header-description{filter:blur(8px)!important;transition:filter 100ms ease-out!important;transition-delay:600ms!important;}